import(methods)
importClassesFrom(Biobase, ExpressionSet, eSet, Versioned, VersionedBiobase)
importMethodsFrom(Biobase, exprs, "exprs<-")
importFrom(stats, median, na.omit, var)

export(gr.cv, gr.main, gr.normalize)
